<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets async="true">
    <target xsi:type="File" name="logFile" fileName="${basedir}/logs/messages.log"
            archiveFileName="${basedir}/archives/messages.{#}.log" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="5" concurrentWrites="true" keepFileOpen="false"
            layout="${level} | ${logger} | ${longdate} | ${message} | ${exception:format=tostring}"  />

    <target xsi:type="File" name="logFileError" fileName="${basedir}/logs/errors.log"
            archiveFileName="${basedir}/archives/errors.{#}.log" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="5"  concurrentWrites="true" keepFileOpen="false"
            layout="${logger} | ${longdate} | ${message} | ${exception:format=tostring} | ${stacktrace}"  />
  </targets>

  <targets async="false">
    <target name="coloredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
            layout="${longdate} | ${pad:padding=5:inner=${level:uppercase=true}} | ${message}">
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkCyan" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Blue" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="White" backgroundColor="Blue" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="coloredConsole" />
    
    <logger name="*" minlevel="Trace" writeTo="logfile" />
    <logger name="*" minlevel="Error" writeTo="logfileError" />
  </rules>
</nlog>